<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="InetBanking">

	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting" />
		<listener class-name="com.inetbanking.utilities.AllureListener"/>
	</listeners>


	<test name="BankingApp Test Login">
		<classes>
			<class name="com.inetbanking.runner.TestRunnerLogin" />
		</classes>
	</test>
	
	
	<test name="BankingApp Test Adding Cutomer">
		<classes>
			<class name="com.inetbanking.runner.TestRunnerAddingCustomer" />
		</classes>
	</test>

</suite>
